*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f8ff;
}

header{
    background-color: #cadaeb;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnAdicionar,
.btnCadastrar,
.btnFechar{
    padding: 10px;
    background-color: #f0f8ff;
    border: none;
    border-radius: 20px;
    width: 200px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

.modal-cadastrar{
    margin: 0 200px;
    padding: 20px;
    background-color: #cadaeb;
    border-radius: 10px;
    display: flex;
}

.modal-cadastrar p{
    text-align: center;
}

input{
    margin-bottom: 12px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    width: calc(100vw - 440px);
    height: 40px;
}

.cadastrar{
    font-weight: bold;
    font-size: 30px;
}

@media(max-width: 700px){
    .modal-cadastrar{
    margin: 20px;
    }
    .btnAdicionar,
    .btnCadastrar,
    .btnFechar{
        width: 100px;
    }
    input{
        height: 30px;
        width: calc(100vw - 80px);
    }
}